html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #e4c7b8;
  background-size: cover;
  background-position: center;
}


.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

app-root {
  display: block;
  padding-top: 260px;
}

html {
  scroll-behavior: smooth;
}