.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 650px;
    max-height: 80vh;

    background: #1a0f08;
    border-radius: 16px;
    padding: 20px;

    overflow-y: auto;
    z-index: 1001;

    color: white;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.7);
}

.item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.imagen {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.total {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.btn-eliminar {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #2c1c12;
    color: #e6c99c;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.btn-eliminar:hover {
    background: #4a2f1e;
}

.btn-eliminar:active {
    background: #4a2f1e;
}

.contenedor-total-pagar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.btn-pagar {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #2c1c12;
    color: #e6c99c;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.btn-pagar:hover {
    background: #4a2f1e;
}

.btn-pagar:active {
    background: #4a2f1e;
}