.banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 20px;
    padding-left: 40px;
}

.titulo {
    font-size: 100px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.subtitulo {
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-align: center;
    max-width: 50%;
    text-align: left;
}

.ver-regalos {
    background-color: #e6c99c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 40px;
    cursor: pointer;
    transition: 0.2s;
}

.ver-regalos:hover {
    background-color: #ebad67;
}

@media (max-width: 1024px) {
    .banner {
        padding-left: 30px;
        padding-right: 30px;
    }

    .titulo {
        font-size: 70px;
    }

    .subtitulo {
        font-size: 30px;
        max-width: 70%;
    }

    .ver-regalos {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .banner {
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        text-align: center;
    }

    .titulo {
        font-size: 50px;
    }

    .subtitulo {
        font-size: 24px;
        max-width: 90%;
        text-align: center;
    }

    .ver-regalos {
        font-size: 24px;
        padding: 12px 24px;
    }
}