<header class="header" [class.scrolled]="isScrolled">

    <div class="navbar-top">
        Productos express · Entregas en 24 hrs
    </div>

    <div class="navbar-main">
        <img class="logo" src="/assets/unnameddd.png" alt="Logo">

        <button *ngIf="!auth.isLogged()" (click)="goLogin()" class="btn-login">
            Login
        </button>

        <div *ngIf="auth.isLogged()" class="user-menu-container">
            <div class="saludo">
                Bienvenido {{ auth.getUsuario()?.nombre }}
            </div>
            <div class="botones-admin">
                <button class="btn-logout" (click)="auth.logout()">Cerrar Sesión</button>
            </div>
        </div>
    </div>

    <div class="nav-bottom">

        <nav class="nav-links">

            <a (click)="scrollA('inicio')">Home</a>

            <a (click)="scrollA('tienda')">Tienda</a>

            <a (click)="scrollA('contacto')">Contáctanos</a>

        </nav>


        <div class="nav-icons">
            <input class="caveat" type="text" [(ngModel)]="busqueda" (input)="buscar()" placeholder="Buscar...">
            <img src="/assets/lupabuscador.png" alt="Lupa" class="lupa" (click)="buscar()">

            <p class="carrito-cantidad" (click)="cart.abrir()">Total: ${{ cart.total() }}</p>
            <img src="/assets/carrito.png" class="carrito" [class.animar]="animarCarrito()" (click)="cart.abrir()">
        </div>

    </div>

</header>